# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/
*.iml

# Environment keys
.env

# macOS
.DS_Store

# Generated
coverage/
*.log
